/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
	border-spacing: 0;
}
/* start---------------------------------------------------------------------- */
body{
  background-color:   #fffff0 ;
  font-family: 'Roboto', sans-serif;
  
  --input-font: 1rem;
  --heading-font: 1rem;
}
.main-container{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  align-items: center;
  gap: 1.5rem;
}
.title{
  font-size: 4rem;
  font-family: 'Merienda', cursive;
}
/* add book container */
.book-heading-container {
  display: flex;
  align-items: center;
}
.book-heading-container h1 {
  font-weight:bold ;
  font-size: var(--heading-font);
}
.input-container #hide-btn {
  height: 2rem;
  width: 3.8rem;
  text-align: center;
  background-color: rgb(98, 121, 255);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid black;
  margin-left: auto;
  margin-right: 0;
}
.input-container #hide-btn:hover {
  border: 2px solid darkblue;
}

.input-container{
  /* display: none; */
  border: 1px solid black;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
  font-size: var(--input-font);
}
.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.input-container #book_name, #book_author, #page_num {
  width: 8rem; 
    height: 2rem;
    font-size: var(--input-font);
    border: 1px solid rgb(177, 175, 175);
    text-align: left;
    grid-column: 2 / 3;
    border-radius: 10px;
}
#page_num {
  width: 4rem;
  text-align: center;
}


.input-container #read_check {
  height: 2rem;
  width: 2rem;
}

.input-container #submit {
  height: 2.5rem;
  width: 8rem;
  background-color: rgb(98, 121, 255);
  border-style: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: var(--input-font);
  margin: 0 auto;

}

.input-container #submit:hover {
  border: 2px solid darkblue;
}

/* Library container */
.library-title{
  align-self: flex-start;
  margin-left: 15%;
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
}

.library-container{
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.removeBook {
  background: none; /* Make the button's background transparent */
  border: none; /* Remove the border */
  padding: 0; /* Remove padding */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  width: auto; /* Adjust width to fit the image */
  height: auto; /* Adjust height to fit the image */
  display: flex; /* Optional: For better control of the inner image alignment */
  align-items: center; /* Optional: Aligns the image in the center vertically */
  justify-content: center; /* Optional: Aligns the image in the center horizontally */
}

.removeBook img {
  width: 100%; /* Image takes the full width of the button */
  height: 2rem; /* Set the desired height */
}


.book-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.5rem;
}


.book-card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.book-num {
  font-size: 1.3rem;
}
.book-card-group h1 {
  font-size: 1.5rem;
 font-weight: bold;
}

/* target # of pages h2 */
.book-card-group:nth-child(4) h2 { 
  font-size: 1.5rem;
 
}

.book-card-group h2 {
  font-size: 1.3rem;
  text-align: center;
  
}

.read-status{
  margin-top: 1rem;
  text-align: center;
}